.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

!.yarn/cache
.yarn/cache/*darwin*
.yarn/cache/*linux*

# dependencies
/node_modules

# content folders
graphics/
client Vite/

.DS_Store

