.main {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  z-index: 1;
}

.blog__list {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.blog__grid {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 600%;
  top: -400%;
  left: 0%;
  position: absolute;
  z-index: 2;
  opacity: 0.1;
  background-image: 
  linear-gradient(#ffffff 3px, transparent 3px), linear-gradient(90deg, #ffffff 3px, transparent 3px), 
  linear-gradient(#ffffffa0 2px, transparent 2px), linear-gradient(90deg, #ffffffa0 2px, transparent 2px), 
  linear-gradient(#ffffff6a 1px, transparent 1px), linear-gradient(90deg, #ffffff6a 1px, transparent 1px);
  background-size: 500px 500px, 500px 500px, 100px 100px, 100px 100px, 10px 10px, 10px 10px;;
  pointer-events: none;
  mix-blend-mode: difference;
  /* transition: all 400ms */
}

/* background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */

.cursorText {
  position: fixed;
  color: white;
  z-index: 30;
  mix-blend-mode: difference;
  pointer-events: none;
  /* animation: fadeIn 50ms linear 1000ms 1 normal forwards; */
}

.cursorText * {
  font-size: 1.1em;
}

.cursorText::before {
  content:'';
  position: absolute;
  transform: translate(calc(-100vw - 8px), -10px);
  width: 200vw;
  height: 1px;
  border-bottom: 2px dashed #fff;
}

.cursorText::after {
  content:'';
  position: absolute;
  top: -115vh;
  left: 0;
  border-right: 2px dashed #fff;
  transform: translate(calc(-14px), calc(-8px));
  height: 115vh;
  width: 1px;
}

.cursorText :first-child {
  font-size: 1.5em;
  font-weight: 700;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.footer {
  position: relative;
  z-index: 3;
  width: 100%;
}

.blog__button {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  cursor: none;
}

.post__card {
  position: relative;
  width: 100%;
  background-color: rgb(18, 18, 18);
  min-height: clamp(50svh, calc(75svw + 15svh), 115svh);
  cursor: pointer;
}

.post__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.post__card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}



.post__card__text__container {
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 5%;
}

@media (max-width: 768px) {
  .post__card__text__container {
    opacity: 1;
    display: block;
  }
}

.post__card h2 {
  font-size: clamp(2em, 10vw, 12em);
  margin-left: -0.3vw;
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
}

.post__card h3 {
  font-size: clamp(1em, 6vw, 8em);
  font-weight: 200;
  line-height: 0.7em;
  margin-left: -0.3vw;
  mix-blend-mode: difference;
  color: #fff;
}

.post__card h4 {
  font-size: clamp(1em, 6vw, 4em);
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
}

.post__card h5 {
  font-weight: 400;
  font-size: clamp(0.7em, 4vw, 2em);
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
}

/* @media (max-width: 700px) {
  .post__card {
      min-height: 65vh;
  }
}  */