.logo {
    display: flex;
    justify-content: center;
    filter: invert();
    background-color: #fff;
    mix-blend-mode: difference;
    min-width: 100px;
    height: 42px;
    padding: 10px 15px;
}

.navbarLeft {
    display: flex;
    align-items: center;
}

.navItems {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    text-transform: uppercase;
    /* letter-spacing: -0.15em; */
    font-size: 1.3rem;
    /* word-spacing: 0.3rem; */
    z-index: 10;
    mix-blend-mode: difference;
    color: #fff;
}

.navItems a {
    padding: 10px 15px;
}

.navMenu__holder {
    display: none;
}

.navMenu {
    display: none;
}

@media (max-width: 700px) {
    .navItems {
        backdrop-filter: blur(10px);
        z-index: 15;
        background-color: rgb(30, 30, 30, 0.5);
        width: 0%;
        height: 0%;
        mix-blend-mode: unset;
        font-size: clamp(1rem, 10vw, 5rem);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .navItems a {
        padding: 4rem;
    }

    .navItems.initial {
        display: none;
    }
    
    .navItems.visible {
        animation: fadeIn 0.3s linear forwards;
        width: 100%;
        height: 100%;
    }
    
    @keyframes fadeIn {
        0% {
            display: flex;
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .navItems.hidden {
        opacity: 0;
        animation: fadeOut 0.3s linear forwards;
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
            width: 100%;
            height: 100%;
        }
        99% {
            width: 100%;
            height: 100%;
        }
        100% {
            display: none;
            opacity: 0;
        
        }
    }

    .navMenu {
        display: block;
        position: fixed;
        z-index: 20;
        top: 20px;
        left: calc(50% - 35px);
        mix-blend-mode: difference;
        filter: invert();
        opacity: 0.9;
        width: 70px;
        height: 70px;
    }
}