$grid-columns: 70px [header-start content-start] 1fr [central-section-start] 5ch 28ch 28ch 5ch [central-section-end] 1fr [header-end content-end] 70px;
$grid-columns--lg-desktop: 70px [header-start content-start] 150px [central-section-start] 5ch 28ch 28ch 5ch [central-section-end] 115px [header-end content-end] 70px;
$grid-columns--tablet: 1fr [content-start header-start central-section-start] 70ch [central-section-end header-end content-end] 1fr;
$grid-columns--mobile: [content-start header-start central-section-start] 1fr [central-section-end header-end content-end];
$grid-gap: 30px;
$sticky-limit: 30px;

$grid-central-section--tablet-start: 2;
$grid-central-section--tablet-end: 3;

$grid-central-section--mobile-start: 1;
$grid-central-section--mobile-end: 2;

$grid-central-section--desktop-start: 3;
$grid-central-section--desktop-end: 7;

:root {
  --grid-columns: #{$grid-columns};
  --grid-central-section: #{$grid-central-section--desktop-start} / #{$grid-central-section--desktop-end};
  --grid-header-section: #{$grid-central-section--desktop-start} / #{$grid-central-section--desktop-end};

  --font-size-sm: clamp(0.8rem, 0.59vw + 0.65rem, 1.13rem);
  --font-size-base: clamp(1rem, 0.91vw + 0.77rem, 1.4rem);
  --font-size-md: clamp(1.25rem, 1.36vw + 0.91rem, 2rem);
  --font-size-lg: clamp(1.56rem, 2.01vw + 1.06rem, 2.67rem);
  --font-size-xl: clamp(1.95rem, 2.91vw + 1.23rem, 3.55rem);
  --font-size-xxl: clamp(2.44rem, 4.17vw + 1.4rem, 4.5rem);
  --font-size-xxxl: clamp(2.05rem, 5.93vw + 1.50rem, 5.3rem);
}

.blog-structure {
  * {
    font-family: 'IBMPlexSans';
  }

  .cover {
    height: 300vh;
    position: relative;

    .cover__background {
      position: sticky;
      object-fit: cover;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }

    .cover__frontmatter {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 250vh;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), transparent);
    }

    .cover__frontmatter-sticky {
      position: sticky;
      top: 35vh;
      margin-top: 60vh;
      flex-direction: column;
      display: flex;
      align-items: center;
      margin-bottom: 40vh;
    }

    .cover__frontmatter-published {
      font-size: var(--font-size-base);
      // font-family: 'brigada-1918';
      font-family: 'lexend';
      color: white;
      font-weight: 200;

    }

    .cover__frontmatter-title {
      font-size: var(--font-size-xxxl);
      font-family: 'brigada-1918';
      color: white;
    }

    .cover__frontmatter-topics {}

    .cover__frontmatter-topic {}
  }

  .section-main {
    position: relative;

    &#section-main--1 {
      background-color: rgba(255, 255, 0, 1);
    }

    &#section-main--2 {
      background-color: cyan;
    }
  }

  .section-content,
  .section__underlay {
    display: grid;
    position: relative;
    grid-gap: $grid-gap;
    width: 100%;
    grid-template-columns: var(--grid-columns);
    padding: calc($grid-gap * 2.5) clamp(80px, 10.91vw + 1.23rem, 200px);
  }

  .section__underlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 172px;
    padding-bottom: 60px;
    user-select: none;
    pointer-events: none;

    >.section__underlay-sidebar {
      display: block;
      white-space: nowrap;
      grid-column: 1 / 2;
      transform-origin: left top;
      writing-mode: tb-rl;

      >.h1__vertical-flag {
        padding-top: 30px;
        font-family: 'LeagueSpartan';
        position: sticky;
        font-size: var(--font-size-sm);
        top: 50px;
      }
    }
  }

  .callout {
    padding: 12px;
    grid-column: var(--grid-central-section);

    .callout__header {
      display: flex;
      gap: 4px;

      img {
        width: 24px;
      }
    }
  }

  .table-of-contents {
    grid-column: var(--grid-central-section);
    font-size: var(--font-size-base);

    >a {
      display: block;

      >div {
        padding: .2em .5em;

      }
    }

    >a:hover {
      background-color: $grey-200;
      border-radius: 8px;
    }

    .table-of-contents__label--heading_1 {}

    .table-of-contents__label--heading_2 {
      padding-left: 2em;
      font-size: 0.8em;

    }

    .table-of-contents__label--heading_3 {
      padding-left: 4em;
      font-size: 0.8em;
    }
  }

  .h1 {
    font-family: 'Brigada-1918';

    grid-column: header-start / header-end;
    text-transform: uppercase;
    font-size: var(--font-size-xxxl);
    position: relative;
    vertical-align: top;
    line-height: 100%;

    >* {
      font-family: 'Lexend';
      line-height: 0%;
    }
  }

  .h1__section-number {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: absolute;
    right: 0;
    font-family: 'Brigada-1918';
    font-size: var(--font-size-xxxl);

    font-weight: 200;
    line-height: 100%;
    text-align: right;
  }

  .h2 {
    grid-column: var(--grid-central-section);
    font-size: var(--font-size-xl);
    line-height: 100%;
  }

  .h3 {
    grid-column: var(--grid-central-section);
    font-size: var(--font-size-md);
    font-weight: 700;
    line-height: 100%;
  }

  .p {
    grid-column: var(--grid-central-section);
    font-size: var(--font-size-base);
  }

  .blockquote {
    grid-column: var(--grid-central-section);
    font-style: italic;
  }

  .column-2,
  .column-3 {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: $grid-gap;

    >div {
      display: grid;
      grid-gap: $grid-gap;
      grid-template-columns: var(--grid-columns);
    }
  }

  .ol {
    grid-column: var(--grid-central-section);
  }

  .ul {
    grid-column: var(--grid-central-section);
  }

  .figure {
    display: grid;
    gap: $grid-gap;
    grid-template-columns: var(--grid-columns);
    grid-row-gap: 0.5em;

    grid-column: 1 / -1;

    figcaption {
      height: fit-content;
      grid-column: 7 / 9;
      top: $sticky-limit;
      position: sticky;
    }

    iframe,
    img {
      grid-column: var(--grid-central-section);
      width: 100%;
    }
  }

  .ol {
    padding: unset;
  }

  .ul {
    padding: unset;
  }

  @media screen and (max-width: 1500px) {
    .figure {
      figcaption {
        grid-column: var(--grid-central-section);
      }
    }
  }

  @media screen and (max-width: 1200px) {
    --grid-central-section: #{$grid-central-section--tablet-start} / #{$grid-central-section--tablet-end};
    --grid-columns: #{$grid-columns--tablet};

    .section-content,
    .section__underlay {
      padding-right: unset;
      padding-left: unset;
      display: grid;
    }

    .h1__section-number {
      font-size: var(--font-size-md);
      line-height: 150%;
      font-weight: 600;
    }

  }

  @media screen and (max-width: 850px) {
    --grid-columns: #{$grid-columns--mobile};
    --grid-central-section: #{$grid-central-section--mobile-start} / #{$grid-central-section--mobile-end};
    --grid-header-section: #{$grid-central-section--mobile-start} / #{$grid-central-section--mobile-end};

    .section-content {
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px);
    }

    .section__underlay {
      display: none;
    }

    .h1__section-number {
      right: unset;
      left: 0;
      top: -45px;
      font-size: var(--font-size-xl);
    }
  }

  @media (min-width: 1700px) {
    --grid-columns: #{$grid-columns--lg-desktop};
  }
}