.blog-structure {
  padding-top: 50px;

  * {font-family: 'SourceCodePro';}

  .callout {
    img {
      width: 24px;
    }
  }

  .figure {
    img {
      width: 100%;
    }
  }

  .ol {
    padding: unset;
  }
  .ul {
    padding: unset;
  }
}
