$primary: #222222;
$primary-disabled: #3847A6;
$primary-hover: #0B5ED7;
$primary-active: rgba(49, 132, 253, 0.25);
$primary-active-border: #86B7FE;
$body-text: #2b2b2c;


$secondary: #6C757D;
$secondary-hover: #5C636A;
$secondary-active: rgba(130, 138, 145, 0.25);

$danger: #DC3545;
$danger-hover: #BB2D3B;
$danger-active: rgba(225, 83, 97, 0.25);
$red-200: #F1AEB5;
$red-100: #F8D7DA;

$light-border: #ECEDED;
$light-grey: #FAFAFC;
$grey-background: #F7F7F7;
$grey-600: #5A5A5E;
$grey-500: #77777A;
$grey-400: #99999A;
$grey-300: #bebebe;
$grey-200: #ECEDED;
$grey-250: #E0E1E1;
$blue-100: #EDF0FF;
$blue-600: #4A5EDA;
$green-200: #A3CFBB;
$green-100: #D1E7DD;
$success: #198754;
$success-hover: #1ba062;
$success-active: rgba($success, 0.25);

$yellow-100: #FFF3CD;
$yellow-200: #FFE69C;
$warning: #FFC107;
