.logo {
  display: flex;
  justify-content: center;
  // filter: invert();
  mix-blend-mode: difference;
  min-width: 100px;
  height: 42px;
  padding: 10px 15px;
}

.navbarLeft {
  display: flex;
  align-items: center;
  // animation: fadeIn 500ms ease-in 250ms normal forwards;
  // opacity: 0;
}

@keyframes fadeIn {
  0% {
  }
  100% {
      opacity: 1;
  }
}
.navItems {
  position: fixed;
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;
  /* letter-spacing: -0.15em; */
  font-size: 1.3rem;
  /* word-spacing: 0.3rem; */
  z-index: 10;
  mix-blend-mode: difference;
  color: #fff;
}



.navItems a {
  padding: 10px 15px;
}

.navMenu__holder {
  display: none;
}

.navMenu {
  opacity: 0;
  display: none;
}

.backHome {
  display: flex;
  align-items: center;
}

.backArrow {
  z-index: 30;
  // filter: invert();
  height: 16px;
  mix-blend-mode: difference;
  margin-right: 15px;
  transition: transform 100ms;
  transform: translate3d(5px, 0,0);
}

.navbarLeft:hover .backArrow {
  transform: translate3d(0px, 0,0);
}
