.project-main {
  width: 100svw;
  height: 100svh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .gallery__card {
      width: 40svw;
      height: 40svh;
      background-color: rgb(10, 10, 10);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 3em;
  }
}
