.gray {
  color: #bcbcbc;
}

.brown {
  color: #6d2e0f;
}

.orange {
  color: #f07800;
}

.yellow {
  color: #d8cd08;
}

.green {
  color: #1f8b07;
}

.blue {
  color: #053b7e;
}

.purple {
  color: #6608ae;
}

.pink {
  color: #c90a9c;
}

.red {
  color: #bf1209;
}

.gray_background {
  background-color: #bcbcbc;
}

.brown_background {
  background-color: #6d2e0f;
}

.orange_background {
  background-color: #f07800;
}

.yellow_background {
  background-color: #d8cd08;
}

.green_background {
  background-color: #1f8b07;
}

.blue_background {
  background-color: #053b7e;
}

.purple_background {
  background-color: #6608ae;
}

.pink_background {
  background-color: #c90a9c;
}

.red_background {
  background-color: #bf1209;
}

.gray {
  color: #bcbcbc;
}

.brown {
  color: #6d2e0f;
}

.orange {
  color: #f07800;
}

.yellow {
  color: #d8cd08;
}

.green {
  color: #1f8b07;
}

.blue {
  color: #053b7e;
}

.purple {
  color: #6608ae;
}

.pink {
  color: #c90a9c;
}

.red {
  color: #bf1209;
}

.gray_background {
  background-color: #bcbcbc;
}

.brown_background {
  background-color: #6d2e0f;
}

.orange_background {
  background-color: #f07800;
}

.yellow_background {
  background-color: #d8cd08;
}

.green_background {
  background-color: #1f8b07;
}

.blue_background {
  background-color: #053b7e;
}

.purple_background {
  background-color: #6608ae;
}

.pink_background {
  background-color: #c90a9c;
}

.red_background {
  background-color: #bf1209;
}

@font-face {
  font-family: "Brygada1918";
  src: url("./fonts/Brygada1918-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode";
  src: url("./fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  src: url("./fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro-Italic";
  src: url("./fonts/SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "LeagueSpartan";
  src: url("./fonts/LeagueSpartan-VF.ttf") format("truetype");
}
@font-face {
  font-family: "Lexend";
  src: url("./fonts/Lexend-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("./fonts/IBMPlexSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "N27";
  src: url("./fonts/N27-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "N27";
  src: url("./fonts/N27-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HK-Grotesk";
  src: url("./fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "HK-Grotesk";
  src: url("./fonts/HankenGrotesk-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
.typography, * {
  font-family: "Brygada 1918";
  line-height: 150%;
  font-weight: 400;
}

.typography__code {
  font-family: "FiraCode";
  font-size: calc(15px + 0.390626vw);
  line-height: 150%;
  font-weight: 400;
  color: #2b2b2c;
}

.typography--small, h5, h4,
.typography--small *,
h5 *,
h4 * {
  font-size: 10px;
}

.typography--bold, h5, h4, .typography--large,
.typography--large *,
.typography--bold *,
h5 *,
h4 * {
  font-weight: 700;
}

.typography--semi-bold,
.typography--semi-bold * {
  font-weight: 700;
}

.typography--large,
.typography--large * {
  font-size: 1.5rem;
  line-height: 120%;
}

h4 {
  color: #77777A;
}

h5 {
  color: #5A5A5E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: fit-content;
  background-color: white;
  position: relative;
  z-index: -2;
}

code {
  font-family: monospace;
}

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background: rgba(187, 187, 187, 0.7333333333);
  mix-blend-mode: difference;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

h2 {
  font-size: 25px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(33, 30, 44);
  padding: 100px 10%;
  cursor: crosshair;
}
.about > h1 {
  font-size: clamp(2em, 12vw, 6em);
  margin-left: -0.4vw;
  letter-spacing: 0.02em;
  mix-blend-mode: difference;
  color: #fff;
}
.about .content {
  gap: 10em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.about .column__intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.about .logo {
  position: relative;
  justify-content: flex-start;
  width: clamp(50px, 40vw, 400px);
  /* width: 10%; */
  margin: 30px 0;
  mix-blend-mode: difference;
}
.about .headline {
  white-space: pre-wrap;
  max-width: 750px;
  font-size: clamp(1em, 6vw, 2em);
  line-height: calc(100% + 0.2em);
  margin-left: -0.3vw;
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
}
.about .column__contact {
  display: flex;
  flex-direction: column;
}
.about .about a {
  color: #fff;
  mix-blend-mode: difference;
  font-size: clamp(1em, 6vw, 2em);
  line-height: calc(100% + 1.2em);
  text-align: end;
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 1000px) {
  .about .column__intro {
    margin-bottom: 2em;
  }
  .about .about p {
    white-space: normal;
    width: unset;
  }
  .about .about a {
    text-align: left;
  }
  .about .content {
    gap: 0;
    flex-direction: column;
  }
}

.home-page {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
}

.blog__list {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* scroll-snap-type: y mandatory; */
}

.blog__grid {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 600%;
  top: -400%;
  left: 0%;
  position: absolute;
  z-index: 2;
  opacity: 0.1;
  background-image: linear-gradient(#ffffff 3px, transparent 3px), linear-gradient(90deg, #ffffff 3px, transparent 3px), linear-gradient(rgba(255, 255, 255, 0.6274509804) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.6274509804) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.4156862745) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.4156862745) 1px, transparent 1px);
  background-size: 500px 500px, 500px 500px, 100px 100px, 100px 100px, 10px 10px, 10px 10px;
  pointer-events: none;
  mix-blend-mode: difference;
  /* transition: all 400ms */
}

/* background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
.cursorText {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 30;
  mix-blend-mode: difference;
  pointer-events: none;
  /* animation: fadeIn 50ms linear 1000ms 1 normal forwards; */
}

.cursorText * {
  font-size: 1.1em;
}

/* .cursorTextTransition {
  transition: all 300ms;
} */
.cursorText::before {
  content: "";
  position: absolute;
  transform: translate(calc(-100vw - 8px), -10px);
  width: 200vw;
  height: 1px;
  border-bottom: 2px dashed #fff;
}

.cursorAfter {
  position: absolute;
  top: -100vh;
  /* top: -50vh; */
  /* top: -115vh; */
  left: 0;
  border-right: 2px dashed #fff;
  mix-blend-mode: difference;
  transform: translate(-14px, -8px);
  /* height: 100vh; */
  /* calc(2 * 115vh); */
  width: 1px;
}

/* 
.cursorText::after {
  content: '';
  position: absolute;
  top: -100vh;
  left: 0;
  border-right: 2px dashed #fff;
  transform: translate(calc(-14px), calc(-8px));
  height: 100vh;
  width: 1px;
} */
.cursorText :first-child {
  font-size: 1.5em;
  font-weight: 700;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blog__button {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  cursor: none;
}

@media (max-width: 768px) {
  .blog__button {
    cursor: crosshair;
  }
}
.post__card {
  position: relative;
  width: 100%;
  background-color: rgb(18, 18, 18);
  min-height: clamp(50svh, 75svw + 15svh, 100svh);
  cursor: pointer;
  /* scroll-snap-align: center; */
}

.post__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.post__card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center center;
  position: absolute;
}

.videoContainer {
  overflow: hidden;
  width: 100%;
  /* Keep it the right aspect-ratio */
  /* aspect-ratio: 16/9; */
  /* No clicking/hover effects */
  pointer-events: none;
}

.videoContainer iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
  background-position: center center;
  position: absolute;
}

/* .reactPlayer {
  opacity: 1;
} */
.post__card__text__container {
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .post__card__text__container {
    opacity: 1;
  }
}
.post__card h2 {
  font-size: clamp(2em, 10vw, 12em);
  margin-left: -0.3vw;
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
  order: 2;
}

.post__card h3 {
  font-size: clamp(1em, 6vw, 4em);
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
  order: 3;
}

.post__card h4 {
  font-size: clamp(1em, 6vw, 8em);
  font-weight: 200;
  line-height: 0.7em;
  margin-left: -0.3vw;
  mix-blend-mode: difference;
  color: #fff;
  order: 1;
}

.post__card h5 {
  font-weight: 400;
  font-size: clamp(0.7em, 4vw, 2em);
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
  order: 4;
}

/* @media (max-width: 700px) {
  .post__card {
      min-height: 65vh;
  }
}  */
.archive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
}
.archive .table {
  border-collapse: collapse;
  width: 800px;
  cursor: crosshair;
  pointer-events: none;
  animation: activateCursor 0ms 1000ms linear forwards;
}
@keyframes activateCursor {
  100% {
    pointer-events: all;
  }
}
.archive .table__link {
  display: block;
  position: relative;
  width: 100%;
  animation: fadeIn 250ms 500ms linear forwards;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    transform: translate3D(0, 10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3D(0, 0px, 0);
  }
}
.archive .tr {
  transition: all 500ms ease-out;
}
.archive .table a {
  cursor: crosshair;
}
.archive .tr td {
  padding: 5px 0;
}
.archive .tr:hover {
  background-color: rgb(243, 243, 243);
  box-shadow: 10px 0 0 rgb(243, 243, 243), -10px 0 0 rgb(243, 243, 243);
  color: #121212;
}
.archive .tr:hover * {
  color: #121212;
}
.archive .table tr {
  position: relative;
}
.archive .table:first-child {
  position: relative;
}
.archive .table tr:before,
.archive .table:first-child:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-bottom: 2px solid #ccc;
  animation: border_anim 500ms ease-in-out forwards;
}
.archive .table:first-child:before {
  top: 0;
}
.archive .table tr:before {
  bottom: 0;
}
@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.archive .table__title {
  min-width: 400px;
}
.archive .table__subtitle {
  min-width: 200px;
}
.archive .table__id {
  min-width: 50px;
}
.archive .table__date {
  text-align: end;
  width: 100%;
}
.archive .table h2 {
  font-size: clamp(2em, 1vw, 12em);
  /* margin-left: -0.3vw; */
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
}
.archive .table h3 {
  font-size: clamp(1em, 1vw, 8em);
  font-weight: 200;
  line-height: 0.7em;
  /* margin-left: -0.3vw; */
  mix-blend-mode: difference;
  color: #fff;
}
.archive .table h4 {
  font-size: clamp(1em, 1vw, 4em);
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
}
.archive .table h5 {
  font-weight: 400;
  font-size: clamp(0.7em, 1vw, 2em);
  letter-spacing: -0.05em;
  mix-blend-mode: difference;
  color: #fff;
}

.blog-page {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  grid-template-rows: 50px 350px 4fr;
}
.blog-page .blog-page__frontmatter {
  grid-column: 2/span 1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.blog-page .blog-page__frontmatter h1 {
  font-size: 40px;
}
.blog-page .blog-page__frontmatter .blog-page__frontmatter__published {
  font-size: 0.85rem;
}
.blog-page .blog-page__frontmatter .blog-page__frontmatter__topics {
  display: flex;
  gap: 10px;
}
.blog-page .blog-page__frontmatter .blog-page__frontmatter__topics .blog-page__frontmatter__topic {
  font-size: 0.8rem;
  width: fit-content;
  height: fit-content;
  padding: 2px 10px;
  border-radius: 20px;
}
.blog-page .blog-page__body {
  grid-column: 2/span 1;
  grid-row: 3/4;
}
.blog-page .blog-page__body pre {
  background-color: #f9f0f0;
  padding: 20px;
}
.blog-page .blog-page__body pre span {
  font-family: "FiraCode";
  font-size: 0.9rem;
}
.blog-page .blog-page__body p {
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.blog-page .blog-page__body a {
  text-decoration: underline;
}
.blog-page .blog-page__body h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.blog-page .blog-page__body h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.blog-page .blog-page__body ol {
  position: relative;
  left: 40px;
  width: calc(100% - 40px);
}
.blog-page .blog-page__body ol ::marker {
  font-size: 30px;
  position: absolute;
  padding-right: 30px;
}
.blog-page .blog-page__body figure {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.blog-page .blog-page__body figure img {
  position: relative;
  display: block;
  width: fit-content;
  max-height: 65vh;
}

.logo {
  display: flex;
  justify-content: center;
  mix-blend-mode: difference;
  min-width: 100px;
  height: 42px;
  padding: 10px 15px;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.navItems {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;
  /* letter-spacing: -0.15em; */
  font-size: 1.3rem;
  /* word-spacing: 0.3rem; */
  z-index: 10;
  mix-blend-mode: difference;
  color: #fff;
}

.navItems a {
  padding: 10px 15px;
}

.navMenu__holder {
  display: none;
}

.navMenu {
  opacity: 0;
  display: none;
}

.backHome {
  display: flex;
  align-items: center;
}

.backArrow {
  z-index: 30;
  height: 16px;
  mix-blend-mode: difference;
  margin-right: 15px;
  transition: transform 100ms;
  transform: translate3d(5px, 0, 0);
}

.navbarLeft:hover .backArrow {
  transform: translate3d(0px, 0, 0);
}

.posts-table {
  width: clamp(80vw, 500px, 100vw);
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0fr 4fr;
}
.posts-table thead, .posts-table tbody {
  display: contents;
}
.posts-table tr {
  box-sizing: border-box;
  display: contents;
}
.posts-table tr > th, .posts-table tr > td {
  text-align: left;
  border-bottom: 1px solid #99999A;
  transition: all 500ms;
}
.posts-table tr > th {
  font-size: 0.7rem;
  padding: 2px 10px;
}
.posts-table tr > .posts-table__row__date {
  vertical-align: middle;
}
.posts-table tr > .posts-table__row__date > a {
  color: #99999A;
}
.posts-table tr > .posts-table__row--active {
  border-bottom: 1px dashed #bebebe;
}
.posts-table tr > td > a {
  white-space: nowrap;
  display: block;
  width: 100%;
  height: 100%;
  padding: 2px 10px;
  font-size: 1.5rem;
}
.posts-table tr > .posts-table__row__panel {
  grid-column: 1/span 2;
  width: 100%;
  background-color: rgb(240, 235, 230);
  animation: 450ms ease-in-out 0s 1 dropDown;
}
.posts-table tr > .posts-table__row__panel > div {
  animation: 500ms ease-out 350ms 1 fadeIn forwards;
  opacity: 0;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.posts-table tr > .posts-table__row__panel > div > a {
  display: flex;
  width: 100%;
  height: 100%;
}
.posts-table tr > .posts-table__row__panel > div > a > div {
  width: 60%;
  display: block;
  padding: 10px 10px;
}
.posts-table tr > .posts-table__row__panel > div > a > div > .posts-table__row__panel__subtitle {
  font-weight: 700;
}
.posts-table tr > .posts-table__row__panel > div > a > img {
  width: 40%;
  display: block;
  background-color: green;
  height: 15rem;
}
@keyframes dropDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
.posts-table tr > :nth-child(3n-1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.posts-table tr > :nth-child(3n-1) a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.2rem;
}

:root {
  --grid-columns: 70px [header-start content-start] 1fr [central-section-start list-start] 5ch 28ch 28ch 5ch [central-section-end list-end] 1fr [header-end content-end] 70px;
  --grid-central-section: 3 / 7;
  --grid-header-section: 3 / 7;
  --font-size-sm: clamp(0.8rem, 0.59vw + 0.65rem, 1.13rem);
  --font-size-base: clamp(1rem, 0.91vw + 0.77rem, 1.4rem);
  --font-size-md: clamp(1.25rem, 1.36vw + 0.91rem, 2rem);
  --font-size-lg: clamp(1.56rem, 2.01vw + 1.06rem, 2.67rem);
  --font-size-xl: clamp(1.95rem, 2.91vw + 1.23rem, 3.55rem);
  --font-size-xxl: clamp(2.44rem, 4.17vw + 1.4rem, 4.5rem);
  --font-size-xxxl: clamp(2.05rem, 5.93vw + 1.50rem, 5.3rem);
  --font-size-xxxxl: clamp(2.55rem, 7.2vw + 1.70rem, 8rem);
}

.blog-structure * {
  font-family: "HK-Grotesk";
}
.blog-structure .cover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 11.54 16"><polygon style="fill:%23BBBBBB" points="10.5 8.83 6.48 13.16 6.48 0 5.07 0 5.07 13.17 1.03 8.83 0 9.79 5.77 16 11.54 9.79 10.5 8.83"/></svg>') 24 24, pointer;
  height: 100vh;
  position: relative;
  overflow: clip;
}
.blog-structure .cover .cover__background {
  position: sticky;
  object-fit: cover;
  top: 0;
  width: 100%;
  height: 200vh;
  display: unset;
}
.blog-structure .cover .cover__frontmatter {
  position: absolute;
  width: 100%;
  height: 200vh;
  background-color: rgb(32, 67, 41);
}
.blog-structure .cover .cover__frontmatter-sticky {
  position: sticky;
  top: 0;
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.blog-structure .cover .cover__frontmatter-title {
  font-size: var(--font-size-xxxxl);
  font-family: "N27";
  text-transform: uppercase;
  color: white;
}
.blog-structure .metadata-wrapper {
  overflow: hidden;
}
.blog-structure .metadata {
  background-color: black;
  color: white;
  cursor: default;
  display: flex;
  transform: translateX(-1px);
  width: calc(100% + 2px);
  border-width: 1px 0 0 1px;
  border-color: #ECEDED;
  border-style: solid;
  flex-wrap: wrap;
}
.blog-structure .metadata .metadata__item {
  height: fit-content;
}
.blog-structure .metadata .metadata__abstract,
.blog-structure .metadata .metadata__published,
.blog-structure .metadata .metadata__updated,
.blog-structure .metadata .metadata__topics {
  flex: 1;
  padding: 6px 14px;
  border-width: 0 1px 1px 0;
  border-color: #ECEDED;
  border-style: solid;
}
.blog-structure .metadata .metadata__abstract .metadata__item,
.blog-structure .metadata .metadata__published .metadata__item,
.blog-structure .metadata .metadata__updated .metadata__item,
.blog-structure .metadata .metadata__topics .metadata__item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.blog-structure .metadata .metadata__abstract .metadata__item > :first-child,
.blog-structure .metadata .metadata__published .metadata__item > :first-child,
.blog-structure .metadata .metadata__updated .metadata__item > :first-child,
.blog-structure .metadata .metadata__topics .metadata__item > :first-child {
  font-weight: 600;
}
.blog-structure .metadata .metadata__abstract .metadata__item svg,
.blog-structure .metadata .metadata__published .metadata__item svg,
.blog-structure .metadata .metadata__updated .metadata__item svg,
.blog-structure .metadata .metadata__topics .metadata__item svg {
  align-self: center;
  height: 14px;
  fill: white;
}
.blog-structure .metadata .metadata__abstract {
  flex-grow: 3;
  flex-basis: 60ch;
  font-size: var(--font-size-base);
}
.blog-structure .metadata .metadata__abstract .metadata__abstract-title {
  display: flex;
  gap: 8px;
  font-size: var(--font-size-sm);
  font-weight: 700;
}
.blog-structure .metadata .metadata__abstract .metadata__abstract-title svg {
  align-self: center;
  width: 16px;
  fill: white;
}
.blog-structure .metadata .metadata__abstract .metadata__item {
  display: block;
  font-weight: 400;
}
.blog-structure .metadata .metadata__published,
.blog-structure .metadata .metadata__updated,
.blog-structure .metadata .metadata__topics {
  font-size: var(--font-size-sm);
  white-space: nowrap;
}
.blog-structure .metadata .metadata__topic {
  border-radius: 20px;
  padding: 0px 12px;
  border: 1px solid;
  border-color: var(--color);
}
.blog-structure .table-of-contents {
  background-color: black;
  color: white;
  border-bottom: 1px solid #ECEDED;
  padding-bottom: 12px;
  cursor: default;
  grid-column: var(--grid-central-section);
  font-size: var(--font-size-base);
}
.blog-structure .table-of-contents .table-of-contents__title {
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: flex;
  gap: 8px;
  padding: 4px 14px;
}
.blog-structure .table-of-contents svg {
  align-self: center;
  width: 16px;
  fill: white;
}
.blog-structure .table-of-contents > a {
  display: block;
}
.blog-structure .table-of-contents > a > div {
  padding: 0.2em 0.5em;
}
.blog-structure .table-of-contents > a:hover {
  background-color: #ECEDED;
}
.blog-structure .table-of-contents .table-of-contents__label--heading_1 {
  padding-left: 14px;
}
.blog-structure .table-of-contents .table-of-contents__label--heading_2 {
  padding-left: calc(14px + 2em);
  font-size: 0.8em;
}
.blog-structure .table-of-contents .table-of-contents__label--heading_3 {
  padding-left: calc(14px + 4em);
  font-size: 0.8em;
}
.blog-structure .section-main {
  position: relative;
}
.blog-structure .section-main#section-main--1 {
  background-color: rgb(255, 255, 0);
}
.blog-structure .section-main#section-main--2 {
  background-color: cyan;
}
.blog-structure .section-content,
.blog-structure .section__underlay {
  display: grid;
  position: relative;
  grid-gap: 30px;
  width: 100%;
  grid-template-columns: var(--grid-columns);
  padding: 75px clamp(80px, 10.91vw + 1.23rem, 200px);
}
.blog-structure .section__underlay {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 172px;
  padding-bottom: 60px;
  user-select: none;
  pointer-events: none;
}
.blog-structure .section__underlay > .section__underlay-sidebar {
  display: block;
  white-space: nowrap;
  grid-column: 1/2;
  transform-origin: left top;
  writing-mode: tb-rl;
}
.blog-structure .section__underlay > .section__underlay-sidebar > .h1__vertical-flag {
  padding-top: 3em;
  font-family: "LeagueSpartan";
  position: sticky;
  font-size: var(--font-size-sm);
  top: 50px;
}
.blog-structure .callout {
  padding: 12px;
  grid-column: var(--grid-central-section);
}
.blog-structure .callout .callout__header {
  display: flex;
  gap: 4px;
}
.blog-structure .callout .callout__header img {
  width: 24px;
}
.blog-structure .preview-card {
  font-size: var(--font-size-sm);
  background-color: rgba(255, 255, 255, 0.05);
  background: radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0) 70.71%), radial-gradient(circle at 6.7% 75%, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0) 70.71%), radial-gradient(circle at 93.3% 75%, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0) 70.71%), rgba(255, 255, 255, 0.2);
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #77777A;
  border-radius: 8px;
  padding: 12px;
  transition: all 250ms;
  cursor: pointer;
}
.blog-structure .preview-card:hover {
  background: unset;
  background-color: rgba(255, 255, 255, 0.6);
}
.blog-structure .bookmark {
  grid-column: var(--grid-central-section);
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.blog-structure .bookmark .bookmark__title {
  font-weight: 500;
}
.blog-structure .bookmark .bookmark__hyperlink {
  display: flex;
  gap: 8px;
  align-items: center;
}
.blog-structure .preview-link--github {
  grid-column: var(--grid-central-section);
  display: flex;
  gap: 12px;
}
.blog-structure .preview-link--github .preview-link__title {
  font-weight: 500;
  font-size: var(--font-size-base);
  line-height: 100%;
}
.blog-structure .preview-link--github .preview-link__user {
  color: #77777A;
}
.blog-structure .preview-link--github .preview-link__icon {
  border-radius: 50%;
  border: 1px solid #ECEDED;
}
.blog-structure .unsupported {
  grid-column: var(--grid-central-section);
}
.blog-structure .h1 {
  font-family: "N27";
  grid-column: header-start/header-end;
  text-transform: uppercase;
  font-size: var(--font-size-xxxl);
  position: relative;
  vertical-align: top;
  line-height: 100%;
}
.blog-structure .h1 > * {
  font-family: "Lexend";
  line-height: 0%;
}
.blog-structure .h1__section-number {
  font-variant-numeric: unset;
  grid-column: 1/2;
  grid-row: 1/2;
  position: absolute;
  right: 0;
  font-family: "N27";
  font-size: var(--font-size-xxxl);
  font-weight: 200;
  line-height: 100%;
  text-align: right;
}
.blog-structure .h2 {
  grid-column: var(--grid-central-section);
  font-size: var(--font-size-xl);
  line-height: 100%;
}
.blog-structure .h3 {
  grid-column: var(--grid-central-section);
  font-size: var(--font-size-md);
  font-weight: 700;
  line-height: 100%;
}
.blog-structure .p {
  grid-column: var(--grid-central-section);
  font-size: var(--font-size-base);
}
.blog-structure .p a {
  color: #5A5A5E;
  text-decoration: underline;
}
.blog-structure .p a:hover {
  color: black;
  font-style: italic;
}
.blog-structure .blockquote {
  grid-column: var(--grid-central-section);
  font-style: italic;
}
.blog-structure .blockquote::before {
  content: '"';
  grid-column: 2/3;
}
.blog-structure .column-2,
.blog-structure .column-3 {
  grid-column: 1/-1;
  display: grid;
  grid-gap: 30px;
}
.blog-structure .column-2 > div,
.blog-structure .column-3 > div {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: var(--grid-columns);
}
.blog-structure .ol {
  grid-column: list-start/list-end;
  font-size: var(--font-size-base);
  list-style-position: inside;
  list-style-type: none;
  counter-reset: item;
  margin-left: 2rem;
}
.blog-structure .ol li::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}
.blog-structure .ul {
  list-style-position: inside;
  grid-column: list-start/list-end;
  font-size: var(--font-size-base);
  margin-left: 2rem;
}
.blog-structure .figure {
  display: grid;
  gap: 30px;
  grid-template-columns: var(--grid-columns);
  grid-row-gap: 0.5em;
  grid-column: 1/-1;
}
.blog-structure .figure figcaption {
  height: fit-content;
  grid-column: 7/9;
  top: 30px;
  position: sticky;
}
.blog-structure .figure iframe,
.blog-structure .figure img {
  grid-column: var(--grid-central-section);
  border-radius: 8px;
  box-shadow: 0 14px 32px rgba(20, 20, 40, 0.25), 15px 15px 40px rgba(20, 20, 40, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}
.blog-structure .ol {
  padding: unset;
}
.blog-structure .ul {
  padding: unset;
}
@media screen and (max-width: 1500px) {
  .blog-structure .figure figcaption {
    grid-column: var(--grid-central-section);
  }
}
@media screen and (max-width: 1200px) {
  .blog-structure {
    --grid-central-section: 2 / 3;
    --grid-columns: 1fr [content-start header-start central-section-start list-start] 70ch [central-section-end header-end content-end list-end] 1fr;
  }
  .blog-structure .section-content,
  .blog-structure .section__underlay {
    padding-right: unset;
    padding-left: unset;
    display: grid;
  }
  .blog-structure .h1__section-number {
    font-size: var(--font-size-md);
    line-height: 150%;
    font-weight: 600;
  }
}
@media screen and (max-width: 850px) {
  .blog-structure {
    --grid-columns: [content-start header-start central-section-start list-start] 1fr [central-section-end header-end content-end list-end];
    --grid-central-section: 1 / 2;
    --grid-header-section: 1 / 2;
  }
  .blog-structure .section-content {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }
  .blog-structure .section__underlay {
    display: none;
  }
  .blog-structure .h1__section-number {
    right: unset;
    left: 0;
    top: -45px;
    font-size: var(--font-size-xl);
  }
}
@media (min-width: 1700px) {
  .blog-structure {
    --grid-columns: 70px [header-start content-start] 150px [central-section-start list-start] 5ch 28ch 28ch 5ch [central-section-end list-end] 115px [header-end content-end] 70px;
  }
}

.dynamic-dot {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  vertical-align: text-top;
  background-color: #2b2b2c;
  animation: shift 15000ms infinite forwards;
}
@keyframes shift {
  0% {
    transform: skewY(20deg) rotate(0deg);
    border-radius: 0%;
  }
  14% {
    transform: skewY(20deg) rotate(0deg);
    border-radius: 0%;
  }
  19% {
    transform: skewY(0deg) rotate(90deg);
    border-radius: 50%;
  }
  36% {
    transform: skewY(0deg) rotate(90deg);
    border-radius: 50%;
  }
  41% {
    transform: skewY(-20deg) rotate(180deg);
    border-radius: 0%;
  }
  58% {
    transform: skewY(-20deg) rotate(180deg);
    border-radius: 0%;
  }
  63% {
    transform: skewY(0deg) rotate(270deg);
    border-radius: 50%;
  }
  80% {
    transform: skewY(0deg) rotate(270deg);
    border-radius: 50%;
  }
  85% {
    transform: skewY(20deg) rotate(359deg);
    border-radius: 0%;
  }
  100% {
    transform: skewY(20deg) rotate(360deg);
    border-radius: 0%;
  }
}

/*# sourceMappingURL=index.css.map */
